html {
    font-size: 16px;
    background-color: rgb(56, 56, 56);
    color: white;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttons {
display: flex;
  align-items: center;
  justify-content: center;
}

.btn, .resetBtn {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  padding: 1rem 1rem;
  transition: all .07s ease;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
  font-size: 14px;
  line-height: 33px;
}
.fa-3x {
    margin-right: 10px;
}

.resetBtn:hover {
    transform: scale(1.1);
    border-color: #ff0000;
    box-shadow: 0 0 1rem #ff0000;
}
.btn:hover {
    transform: scale(1.1);
    border-color: #00eeff;
    box-shadow: 0 0 1rem #00eeff;
  }

.score {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 50px;
    place-items: center;
}

.result {
    margin: 50px;
}

.explanation {
    grid-column: span 2;
}

#reset {
    visibility: hidden;
}